//******
//COLORS
//******
$color_yellow:#ffd830;
$color_light_gray:#eee;
$color_dark_gray:#555;
$color_peach:#FFF0AF;
$color_mango:#FA8334;
$color_teal:#388697;

//**********
//FONT-SIZES
//**********
$font_XXS: 0.85rem;
$font_XS: 0.9rem;
$font_S: 1rem;
$font_M: 1.25rem;
$font_L: 1.5rem;
$font_XL: 1.75rem;
$font_XXL: 2rem;
$font_XXXL: 2.5rem;
$font_4XL: 3.25rem;
$font_5XL: 3.5rem;

//***************
//BREAKING POINTS
//***************
$desktop_S: 900px;
$desktop_M: 1100px;
$laptop: 768px;
$tablet: 600px;
$mobile_S: 400px;
$mobile_M: 500px;